@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cerebri";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Cerebri"), url(/fonts/CerebriSans-ExtraBold.woff2) format("woff2");
}

@font-face {
  font-family: "Cerebri";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Cerebri"), url(/fonts/CerebriSans-Book.woff2) format("woff2");
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-cerebri;
    @apply font-extrabold;
  }

  p {
    @apply font-cerebri;
  }
}
